#add-button{
    width: 50px;
    height: 40px;
}

label{
    margin-left: 10px;
}

.input-section{
    border-radius: 17px;
    border: 2px solid green;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge l'ombra ai bottoni */
}